@font-face {
  font-family: "badaboom";
  src: url("assets/fonts/badaboom_bb/BADABB__.TTF");
}

ul {
  all: unset;
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: #3f3f46;
  font-family: "Badaboom", sans-serif;
  letter-spacing: 1px;
  color: #dc2626;
  text-shadow: 1px 1px 1px #000000;
}

#wrapper {
  width: 100%;
  flex-grow: 1;
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #18181b;
  background-color: #27272a;
  font-size: 100px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

#game-container {
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

#score-board {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 16px;
  font-size: 60px;
}

#player,
#computer {
  width: 300px;
  text-align: center;
}

#score {
  flex-grow: 1;
  font-size: 100px;
  text-align: center;
}

#game-text {
  align-self: center;
  max-width: 800px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

#buttons--container {
  display: flex;
  justify-content: center;
}

#buttons {
  max-width: 800px;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #18181b;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: #27272a;
  transition: transform 200ms;
}

button > img {
  width: 120px;
}

button:hover {
  background-color: #18181b;
}

button:active {
  transform: scale(0.9);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #18181b;
  background-color: #27272a;
  font-size: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#github-link {
  width: 28px;
  margin-left: 4px;
  margin-right: 4px;
}
